In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.pandas.set_option('display.max_columns',None)

In [4]:
df=pd.read_csv('USA_Housing.csv')

In [5]:
df.head(5)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [6]:
df.drop(['Address'], axis=1, inplace=True)

In [7]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [8]:
from sklearn.model_selection import train_test_split

X=df.drop(columns=['Price'])
Y=df['Price']

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
X_train_scaled=std.fit_transform(X_train)

In [10]:
X_test_scaled=std.transform(X_test)

In [11]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
fit=lr.fit(X_train,y_train)
fit

LinearRegression()

In [12]:
predict=fit.predict(X_test)

In [22]:
print('r2 score : ',fit.score(X_train,y_train)*100)

r2 score :  91.92986579053273

In [23]:
print('r2 score : ',fit.score(X_test,y_test)*100)

r2 score :  91.46818498916257